<nav>
    <div class="nav-wrapper">
      <%= link_to "Let's Play", root_path, class: "brand-logo" %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if session[:user_id].nil?%>
          <li><%= link_to 'Sign in with Twitter', auth_create_path %></li>
        <% else %>
          <li id="user_name"><%= image_tag("/assets/Twitter_Social_Icon_Circle_Color.png", class: "logo-name-pair")%>@<%= session[:user_screen_name] %></li>
          <li><%= link_to 'Sign out', auth_sign_out_path %></li>
        <% end %>
        <li><%= link_to 'Home', root_path %></li>
        <li></li>
        <li></li>
      </ul>
    </div>
</nav>
