<!DOCTYPE html>
<html>
<head>
    <title>Let's Play</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= content_for?(:title) ? yield(:title) : "Let's Play" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Let's Play!" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= render :partial => 'layouts/ga' %>
</head>
<body>
   <header>
      <%= render 'layouts/navigation' %>
   </header>
   <main role="main">
     <%= render 'layouts/messages' %>
     <%= yield %>
   </main>
   <footer class="page-footer">
      <%= render "layouts/footer" %>
   </footer>
   <script>
       $(document).ready(function () {
          // Initialize collapse button
          $(".button-collapse").sideNav({closeOnClick: true});
          // Initialize collapsible (uncomment the line below if you use the dropdown variation)
          //$('.collapsible').collapsible();
          
          $('ul li a').click(function () {
            $('li').removeClass("active");
            $(this).parent().addClass("active");
          });
       });
   </script>
</body>
</html>
