<!DOCTYPE html>
<html>
<head>
    <title>Let's Play</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Let's Play" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "the right place" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/assets/materialize.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/assets/materialize.min.js"></script>
   <header>
      <%= render 'layouts/navigation' %>
   </header>
   <main role="main">
     <%= render 'layouts/messages' %>
     <%= yield %>
   </main>
   <footer class="page-footer">
      <%= render "layouts/footer" %>
   </footer>


</body>
</html>
